@model RealEstateApp.Core.Application.ViewModels.Property.SavePropertyViewModel

@{
    ViewData["Title"] = "Guardar propiedad";
    bool editMode = Model.Id == 0 ? false : true;
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card border rounded-3 shadow mt-3">
            <div class="card-header fw-bold">
                <h4 class="mt-2">@(editMode ? $"Editando la propiedad" : "Registrando propiedad")</h4>
            </div>
            <div class="card-body form-label">
                <form method="post" asp-controller="Property" asp-action="@(editMode? "Edit" : "Create")" enctype="multipart/form-data">

                    <input type="hidden" asp-for="Id">

                    <div class="form-group mb-3">
                        <label class="mb-2" for="PropertyTypeId">Tipo de Propiedad</label>
                        <select class="form-control" asp-for="PropertyTypeId" asp-items="@(new SelectList(Model.PropertyTypes, "Id", "Name"))">
                            <option value="">Selecciona un tipo de propiedad</option>
                        </select>
                        <span asp-validation-for="PropertyTypeId" class="text-danger"></span>

                    </div>

                    <div class="form-group mb-">
                        <label class="mb-2" for="SaleTypeId">Tipo de Venta</label>
                        <select class="form-control" asp-for="SaleTypeId" asp-items="@(new SelectList(Model.SalesTypes, "Id", "Name"))">
                            <option value="">Selecciona un tipo de venta</option>
                        </select>
                        <span asp-validation-for="SaleTypeId" class="text-danger"></span>
                    </div>

                    <div class="mb-2 form-group">
                        <label class="mb-2" for="Price">Precio (DOP)</label>
                        <input type="number" class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-2" for="Description">Descripcion</label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-2" for="LandSize">Tamaño de propiedad(m²)</label>
                        <input type="number" class="form-control" asp-for="LandSize" />
                        <span asp-validation-for="LandSize" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-2" for="NumberOfRooms">Cantidad de Habitaciones</label>
                        <input type="number" class="form-control" asp-for="NumberOfRooms" />
                        <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-2" for="NumberOfBathrooms">Cantidad de baños</label>
                        <input type="number" class="form-control" asp-for="NumberOfBathrooms" />
                        <span asp-validation-for="NumberOfBathrooms" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-2" for="ImprovementId">Lista de mejoras</label>
                        <select class="form-control" asp-for="ImprovementsId" asp-items="@(new SelectList(Model.Improvements, "Id", "Name"))" multiple>
                        </select>
                        <span asp-validation-for="ImprovementsId" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-2" for="file1">Imagen de portada</label>
                        @if (editMode)
                        {
                            <input asp-for="file1" class="form-control" />
                        }
                        else
                        {
                            <input required asp-for="file1" class="form-control" />
                        }
                    </div>

                    <div class="form-group mb-2">
                        <label for="file2" class="mb-2">Imagen 2</label>
                        <input type="file" class="form-control" name="file2" />
                    </div>

                    <div class="form-group mb-2">
                        <label for="file3" class="mb-2">Imagen 3</label>
                        <input type="file" class="form-control" name="file3" />
                    </div>

                    <div class="form-group mb-2">
                        <label for="file4" class="mb-2">Imagen 4</label>
                        <input type="file" class="form-control" name="file4" />
                    </div>

                    
                    <div class="btn-group float-end mt-3">

                        <a class="btn btn-outline-danger" asp-controller="Property" asp-action="Index">Volver atras</a>
                        <button type="submit" class="btn btn-outline-dark">Guardar propiedad</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>